<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">TODO's app</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todos" routerLinkActive="active">Todos</a>
      </li>
    </ul>
    <p *ngIf="userName" class="navbar-text navbar-right">{{userName}} <a href="#" class="navbar-link" (click)="logout()">logout</a></p>
  </div>
</nav>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
  <div class="navbar-text m-auto">
    Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by xsajtlavai
  </div>
</nav>
